<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Adfar Rasheed</h1>
    <h1>My name is : <%=name%></h1>
    <h1>My age is :<%=age%></h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non cum dolores maxime facere recusandae, deleniti voluptate perferendis dignissimos excepturi numquam eos hic cumque quos rerum molestiae assumenda. Enim, tempora! Ipsum.</p>
</body>
</html>